################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/COP4610/v16/ipch/AutoPCH/fdbc37b537d6bfc4/PTHREAD.ipch
/.vs/COP4610/v16/Browse.VC.opendb
